*{
  background-color: #efe2ba;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  color:#313639;
}

main{
  padding:10px;
  max-width: 1500px;
  margin: 0 auto;
}

img.hello{
  align-items: right;
}

img.intro{
  align-items: right;
}

div.buttons{
  text-align: center;
  padding-top: 100px;
}

header{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom: 50px;
}

header a{
  color:#313639;
  text-decoration: none;
  font-weight:bold;
}

header :link.logo{
  font-size:40px;
}

footer{
  padding-top:100px;
  text-align: right;
}

footer a{
  color:#ffffff;
  text-decoration: none;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.navbar{
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#4056a1;
}

li{
  float:left;
}

li a{
  display:block;
  color:#ffffff;
  background-color:#4056a1;
  text-decoration:none;
  font-weight:bold;
  padding: 14px 16px;
}

li a:hover{
  background-color: #f8e9a1;
}

h2{
  text-align:center;
}


button.linkedin{
  width:10%;
  background-color: #f13c20;
  color:#ffffff;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  border:4px double #ffffff;
  border-radius: 10px;
  margin-top:30px;
  font-weight:bold;
  margin-right:10px;
}

button.github{
  width:10%;
  background-color: #ffffff;
  color:#f13c20;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  border:4px double #f13c20;
  border-radius: 10px;
  margin-top:30px;
  font-weight:bold;
}

h1.projects{
  text-align: center;
  margin-top:30px;
}

div.etymology{
  text-align:left;
  max-width:800px;
  margin: 0 auto;
}

h2.etymology{
  text-align:left;
}

h2.right{
  text-align: right;
}

h2.left{
  text-align:left;
}

div.left{
  text-align: left;
}

div.right{
  text-align: right;
}

h3{
  margin-top: 0;
}

div.plays{
  text-align:right;
  margin:0 auto;
  max-width:800px;
}

h2.plays{
  text-align:right;
}

button.etymology{
  width:10%;
  background-color: #f13c20;
  color:#ffffff;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  border:4px double #ffffff;
  border-radius: 10px;
  margin-top:10px;
  font-weight:bold;
}

button.plays{
  width:10%;
  background-color: #ffffff;
  color:#f13c20;
  padding: 12px 12px;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  border:4px double #f13c20;;
  border-radius: 10px;
  margin-top:10px;
  font-weight:bold;
}